.food-request-container {
    margin-top: 1em;
}

.request-food-wrapper {
    background: #f2f3f3;
    border: solid 1px #ebebeb;
    box-sizing: border-box;
    color: #7b7b7b;
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn-discard {
    background-color: #f1f3f5;
    color: rgb(149, 19, 131);
}

input[type=radio] {
    padding: 13px 20px;
    margin: 8px 0;
}

.btn-send-request {
    background-color: rgb(242, 243, 243);
    color: rgb(149, 19, 131);
}